#
#  Copyright (c) 2012-2019 Red Hat, Inc.
#    This program and the accompanying materials are made
#    available under the terms of the Eclipse Public License 2.0
#    which is available at https://www.eclipse.org/legal/epl-2.0/
#
#  SPDX-License-Identifier: EPL-2.0
#
#  Contributors:
#    Red Hat, Inc. - initial API and implementation
name: Docker
#on: [pull_request, push]
on:
  push:
    branches: [ test-ci ]
  pull_request:
    branches: [ test-ci ]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Build image on amd
      run: docker build .
    - name: Build on s390x
      uses: uraimo/run-on-arch-action@master
      id: runcmd
      with:
        architecture: s390x
        distribution: ubuntu18.04
        run: |
          apt-get update && DEBIAN_FRONTEND=noninteractive apt-get install -y sudo curl
          sudo DEBIAN_FRONTEND=noninteractive apt-get install -y apt-transport-https  ca-certificates  curl software-properties-common
          curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
          sudo add-apt-repository "deb [arch=s390x] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
          sudo apt-get update
          sudo apt-get install -y docker-ce
          sudo service docker start
          sleep 60s
          sudo sudo chmod ugo+rw /var/run/docker.sock
          sudo service docker status
          docker ps
          docker version
          sudo free -mh && sudo sync && sudo sh -c 'echo 3 > /proc/sys/vm/drop_caches' && sudo free -mh
          docker build .
          uname -a
          cat /proc/meminfo | grep MemTotal | sed -r 's/MemTotal:\s{1,}//g'
